<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

    <servlet>
        <servlet-name>ProdottoServlet</servlet-name>
        <servlet-class>ProdottoServlet</servlet-class>
        <multipart-config>
            <!-- Impostazioni per il caricamento dei file -->
            <location>/tmp</location> <!-- Directory temporanea per i file -->
            <max-file-size>20848820</max-file-size> <!-- Dimensione massima dei file -->
            <max-request-size>418018841</max-request-size> <!-- Dimensione massima della richiesta -->
            <file-size-threshold>1048576</file-size-threshold> <!-- Dimensione soglia per il
            salvataggio su disco -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProdottoServlet</servlet-name>
        <url-pattern>/prodotti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>ClienteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/clienti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AcquistoServlet</servlet-name>
        <servlet-class>AcquistoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AcquistoServlet</servlet-name>
        <url-pattern>/acquisti</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DettaglioProdottoServlet</servlet-name>
        <servlet-class>DettaglioProdottoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DettaglioProdottoServlet</servlet-name>
        <url-pattern>/DettaglioProdotto</url-pattern>
    </servlet-mapping>
</web-app>